@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  body {
    background-color: #9affe7;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .box {
    box-shadow: 8px 8px 0px 0px #000000;
  }
  .brown {
    background-color: #c48a3c;
  }
  .yellow {
    background-color: #fce904;
  }
  .tyellow {
    color: #fce904;
  }
  .soft {
    background-color: #ddc5ae;
  }

  .red {
    background-color: #e12e1b;
    border: solid 2.5px;
    transition: transform 0.3s;
  }

  .bosolid {
    border: solid 3px black;
  }
  .inputfield {
    @apply w-[225px] h-[36px] relative;
  }
  .input {
    @apply absolute w-full h-full outline-none z-10 p-1 font-vt323;
    border: solid 2.5px black;
    transition: transform 0.3s;
  }
  .input::placeholder {
    font-size: 11px;
    font-family: 'Press Start 2P', cursive;
  }

  .bit {
    font-family: 'Press Start 2P', cursive;
  }
}
